<!DOCTYPE html>
<html>
<head>
  <title>インスタグラムのようなもの</title>
  <p class="flash"><%= notice %><%= alert %></p>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
   <ul>
    <div class="container">
      <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
       <% if user_signed_in? %>
         <li><%= link_to "投稿", instams_path %></li>
         <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
         <li><%= link_to 'マイページ', edit_user_registration_path %></li>
       <% else %>
         <li><%= link_to 'ログイン', new_user_session_path  %></li>
         <li><%= link_to 'サインアップ', new_user_registration_path %></li>
       <% end %>
      </div>
     </div> 
   </ul>
  </header>

<%= yield %>

<footer>
  <p>インスタグラム風アプリ</p>
  <p>© 2017 Yoshimi Kosugi</p>
</footer>

</body>
</html>
